.card {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: myAnimation;
  animation-duration: 5s;
}
@keyframes myAnimation {
  0% {
    background-color: rgb(0, 0, 1);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: tomato;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: coral;
    left: 0px;
    top: 0px;
  }
}
